.poex_settings_form p {
    clear: both;
    width: 100%;
}

.poex_settings_form p label {
    width: 20%;
    float: left;
    margin-right: 1%;
    text-align: right;
}

.poex_settings_form p input[type=text] {
    width: 60%;
}

.poex_notice {
    clear: both !important;
}

.poex_poll {
    padding: 20px;
    border: 1px solid black;
    margin: 20px 0;
}

.poex_title {
    border-bottom:  1px solid #555;
    margin-bottom: 20px !important;
}

.poex_question {
    font-style: italic;
}